h1 {
    background-color: black;
    color:whitesmoke;
}

span {
    color:aqua;
}

h2 {
    background-color:purple;
    color:whitesmoke;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
}
